/* base styles */

.hidden {
  display: none;
}

/* text styles */

html {
  font-size: 100%;
}

body {
  font-family: 'News Cycle', Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

h1, h2 {
  font-family: 'Dorsa', Helvetica, sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 3.5rem;   /* 56px */
  line-height: 3rem;   /* 48px */
}

h2 {
  font-size: 4.5rem;   /* 72px */
  line-height: 6rem;   /* 96px */
  margin-bottom: 1.5rem;   /* 24px */
  text-align: center;
}

h3 {
  font-size: 1.125rem;   /* 18px */
  line-height: 3rem;   /* 48px */
  text-transform: uppercase;
  font-weight: 500;
}

/* color palette  */

:root {
  --main: #1F3646;
  --accent: #D29427;
  --bkg: #FFFDF8;
}

body {
  background-color: var(--bkg);
  color: var(--main);
}

/* svg styles */

svg {
  fill: var(--accent);
}

a svg:hover {
  opacity: 0.25;
}

a svg:active {
  opacity: 0.25;
}

.closing-svg {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.closing-svg svg {
  flex-basis: 2.375rem;   /* 38px */
}

/* transition styles */

a, svg {
  transition: 0.125s ease-in-out;
}

/* header styles */

header .container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header a {
  padding: 1rem;
  display: block;
}

header svg {
  width: 2rem;
}

header a.flag {
  padding: 0;
}

header .flag svg {
  fill: var(--main);
  width: 3.5rem;
}

header .logo {
  z-index: 15;
  position: fixed;
}

nav {
  position: absolute;
  top: 0;
  margin-left: -100vw;
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--main);
  color: var(--accent);
  z-index: 10;
  text-align: right;
  transition: 0.5s all ease-in-out;
}

.show-nav {
  margin-left: 0;
  position: fixed;
}

.fixed {
  position: fixed;
}

.menu-btn {
  z-index: 5;
  position: fixed;
  right: 0;
  margin-bottom: 0.5rem;
}

.exit-btn {
  margin-top: 0.25rem;
}

.exit-btn svg {
  width: 1.5rem;
}

nav a {
  color: var(--accent);
  font-size: 1.3125rem;   /* 21px */
}

nav a:hover {
  opacity: 0.25;
}

nav a:active {
  opacity: 0.25;
}

nav ul {
  margin-top: 10vh;
}

.menu-logo {
  padding: 1rem;
  margin-top: 15vh;
}

.menu-logo p {
  font-size: 1.25rem;   /* 20px */
}

/* banner styles */

.banner-home {
  background-image: url(../img/profile.png);
}

.banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 15rem;
  margin-top: -0.75rem;
  position: relative;
  z-index: -5;
}

.banner-cover-box {
  border: 3px var(--accent) solid;
  position: absolute;
  left: 1rem;
  top: 1rem;
  right: 1rem;
  height: 15rem;
}

/* welcome styles */

.welcome {
  padding: 3rem 1rem 3rem;
}

.welcome p {
  font-size: 1.125rem;   /* 18px */
}

/* about styles */

.about {
  background-color: var(--main);
  color: var(--accent);
  padding: 3rem 1rem 3rem;
}

/* provide styles */

.provide {
  background-color: var(--main);
  color: var(--accent);
  padding: 3rem 1rem 3rem;
}

.provision {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3rem;
}

/* .provision:hover {
  background-color: var(--main);
} */

.provision svg {
  flex-basis: 6.25rem;   /* 100px */
  margin-bottom: 1rem;
}

.provision:first-of-type svg {
  flex-basis: 5.25rem;   /* 84px */
}

.provision h3 {
  flex-basis: 100%;
  text-align: center;
}

/* portfolio styles */

.portfolio {
  padding: 3rem 1rem 3rem;
}

.portfolio-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.portfolio a {
  background-color: var(--main);
  color: var(--accent);
  padding: 1rem;
  flex-basis: calc((100% - 1rem) / 2);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  line-height: auto;
  text-transform: uppercase;
  margin-top: 4.5rem;
}

.portfolio a:hover {
  color: var(--main);
  background-color: var(--accent);
}

.portfolio a:active {
  color: var(--main);
  background-color: var(--accent);
}

/* footer styles */

footer {
  background-color: var(--main);
  color: var(--accent);
  padding: 4.5rem 0 0;
}

.footer-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-logo svg {
  flex-basis: 1.75rem;   /* 28px */
  margin-bottom: 0.5rem;
}

.footer-logo h2 {
  font-size: 3.375rem;   /* 54px */
  line-height: 3rem;   /* 48px */
  display: block;
  flex-basis: 100%;
  color: var(--accent);
}

footer ul {
  margin: 2rem 0;
}

footer ul a {
  padding: 1rem;
  color: var(--accent);
  line-height: 1.5rem;
  display: block;
  text-align: right;
}

footer ul a:hover {
  opacity: 0.25;
}

footer ul a:active {
  opacity: 0.25;
}

footer .social {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 4rem;
  padding-right: 0.5rem;
}

footer .social a {
  padding: 0.5rem;
}

footer .social svg {
  width: 2rem;
}
